<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Groupie Tracker</h1>
    </header>
    
    <main>
        <section class="artists-grid">
            {{range .}}
            
            <div class="artist-card">
              
                <img src="{{.Image}}" alt="{{.Name}}">
                <h2>{{.Name}}</h2>
                <p>Created: {{.CreationDate}}</p>
                <p>Members: {{range .Members}}{{.}}, {{end}}</p>
            
            </div>
     
            {{end}}
        </section>
    </main>
</body>
</html>