<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupe tracker API</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <b<div class="header-container page-background">
      <h1>Groupe tracker API</h1>
    </div>
    <div class="artist-list">
      {{range .}}

      <div class="artist-card">
        <img src="{{.Image}}" alt="{{.Name}}" class="artist-image" />
        <div class="artist-details">
          <div class="detail-section">
            <h2 class="artist-name">{{.Name}}</h2>
          </div>
          <div class="detail-section">
            <span class="detail-label">Creation Date</span>
            <p>{{.CreationDate}}</p>
          </div>
          <div class="detail-section">
            <span class="detail-label">First Album</span>
            <p>{{.FirstAlbum}}</p>
          </div>
        </div>
        <a href="/artist/{{.ID}}" class="button button-style">
          <button type="submit" class="button-style">Learn more</button>
        </a>
      </div>
      {{end}}
    </div>
  </body>
</html>
