<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Artist.Name }} - Artist Profile</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/profile.css" />
  </head>
  <body>
    <a href="/">
      <label class="close-button">
        <img
          src="/static/image/icons8-x-64.png"
          alt="Close button"
          width="28px"
          class="icon"
        />
        Close
      </label>
    </a>
    <div class="artist-profile">
      <div class="profile-card glass-effect">
        <div class="artist-header">
          <h2>{{ .Artist.Name }}</h2>
        </div>
        <div class="artist-details-container">
          <div class="artist-image-box">
            <img
              src="{{ .Artist.Image }}"
              alt="{{ .Artist.Name }}"
              class="artist-image"
            />
          </div>
          <div class="artist-info">
            <div class="info-section">
              <span>Members</span>
              {{ range .Artist.Members }}
              <p>👤 {{.}}</p>
              {{end}}
            </div>
            <div class="info-section">
              <span>Creation Date</span>
              <p>📅 {{ .Artist.CreationDate }}</p>
            </div>
            <div class="info-section">
              <span>First Album</span>
              <p>📅 {{ .Artist.FirstAlbum }}</p>
            </div>
            <div class="relations-wrapper">
              <div class="info-section relations-list">
                <span>Relations:</span>
                <ul>
                  {{ range $key, $value := .Relation.DatesLocations }}
                  <li>
                    🔗 {{ $key }}
                    <ul>
                      {{range $value}}
                      <li>📅 {{.}}</li>
                      {{end}}
                    </ul>
                  </li>
                  {{end}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
